.header{
    display:flex;
    background-color: white;
    color:white;
    align-items:center;
    padding:0.8rem;
    overflow: hidden;

    
}
    
.header__logo{  
    font-weight: bold;
    font-size:1.8rem;
    color: var(--primary);
    margin-right:1rem;
    margin-left: auto;
}
@media  screen and (max-width: 62em) {
    .header__logo{
       margin-right:auto;
    }
}
    

.hamburger{
    cursor:pointer;
   height: 2rem;
}

@media screen and (min-width:62em) {
    .hamburger{
        display: none;
    }
}

.avatar{
    /* border-radius: 100%; */
    
}
